@model EmployeeViewModel

@*E:\Backend-Rout\MVC\MyDemo\MVCProject\MVCProject.PL\wwwroot\Files\Images\17b7d69f-e555-4405-9fdd-90e3ad2d32901596658115058.jpg*@
@if(@Model.ImageName is not null)
{
    <div class="form-group">
        <img src="~\Files\Images\@Model.ImageName" class=" rounded " width="100" height="100" />
        <input hidden asp-for="ImageName" class="form-control" />

    </div>
}
<div class="form-group">
    <label asp-for="Name" class="col-form-label"></label>
    <input readonly asp-for="Name" class="form-control" />

</div>
<div class="form-group">
    <label asp-for="Age" class="col-form-label"></label>
    <input readonly asp-for="Age" class="form-control" />

</div>
<div class="form-group">
    <label asp-for="Address" class="col-form-label"></label>
    <input readonly asp-for="Address" class="form-control" />

</div>
<div class="form-group">
    <label asp-for="Salary" class="col-form-label"></label>
    <input readonly asp-for="Salary" class="form-control" />

</div>
<div class="form-group">
    <label asp-for="Email" class="col-form-label"></label>
    <input readonly asp-for="Email" class="form-control" />

</div>
<div class="form-group">
    <label asp-for="PhoneNumber" class="col-form-label"></label>
    <input readonly asp-for="PhoneNumber" class="form-control" />

</div>
<div class="form-group">
    <label asp-for="HireDate" class="col-form-label"></label>
    <input readonly asp-for="HireDate" class="form-control" />

</div>
<div class="form-group">
    <label asp-for="IsActiv" class="col-form-label"></label>
    <input readonly asp-for="IsActiv" class="form-control" />

</div>