@model EmployeeViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details of @Model.Name </h1>


<div >

    <partial name="PatialViews/DeleteDetailsPartialView" />


    <a asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>
</div>





