
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div>
            Password Reset Link Has Been Send To Your Mail , Pleas Cheack Your Inbox

        </div>
        <a href="https://mail.google.com/mail/u/0/#inbox">Go to Your Inbox</a>
     </div>
</div>
