@model RegistorViewModel
@{
    ViewData["Title"] = "Registor";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<h1>Registor Now!</h1>

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="Registor">
			
			<input class="text" asp-for="FName"  placeholder="FirstName" required="">
			<span class="text-danger" asp-vaildation-for="FName"></span>
			<br />
			<input class="text" asp-for="LName" placeholder="LastName" required="">
			<span class="text-danger" asp-vaildation-for="LName"></span>
			<br />
			<input class="text" asp-for="Email" placeholder="Email" required="">
			<span class="text-danger" asp-vaildation-for="Email"></span>
			<br />
			<input class="text" asp-for="Password" placeholder="Password" required="">

			<span class="text-danger" asp-vaildation-for="Password"></span>
			<br />
			<input class="text" asp-for="ConfirmPassword" placeholder="ConfirmPassword" required="">

			<span class="text-danger" asp-vaildation-for="ConfirmPassword"></span>
			<br />

			<div class="wthree-text">
				<label class="anim">
					<input class="checkbox" asp-for="IsAgree">
					<span>I Agree To The Terms & Conditions</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNUP">
		</form>
		
		<p>Do have an Account? <a asp-action="Login"> Login Now!</a></p>
	</div>
</div>
@section ValidationScriptSection{
	<partial name="_ValidationScriptsPartial"/>
}

