@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Reset Password</h1>



<div asp-validation-summary="All"></div>

<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="ResetPassword">


            <input class="text" asp-for="NewPassword" placeholder="EmaNewPasswordil" required="">
            <span class="text-danger" asp-validation-for="NewPassword"></span>
            <br />
            <input class="text" asp-for="ConfirmNewPassword" placeholder="ConfirmNewPassword" required="">

            <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>

            <br />

            <input type="submit" value="Reset">
        </form>


    </div>
</div>
@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}

